In [2]:
# Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import requests
import time
from webdriver_manager.chrome import ChromeDriverManager

In [3]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Driver [/Users/kalaimano/.wdm/drivers/chromedriver/mac64/99.0.4844.51/chromedriver] found in cache

In [4]:
#Scraping the Mars webpage to collect new title and text
news_url= "https://redplanetscience.com/"
browser.visit(news_url)
#scraping into soup
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [5]:
#finding the first list item
news = soup.find("div", class_='list_text')
#finding the latest news title
news_title = news.find_all("div", class_="content_title")[0].text
#finding the lateste news text
news_para = news.find_all("div", class_ ="article_teaser_body")[0].text

In [6]:
print(news_title)

8 Martian Postcards to Celebrate Curiosity's Landing Anniversary

In [7]:
print(news_para)

The NASA rover touched down eight years ago, on Aug. 5, 2012, and will soon be joined by a second rover, Perseverance.

In [8]:
#Scraping the Mars webpage to collect featured image
image_url = "https://spaceimages-mars.com/"
browser.visit(image_url)
#scraping into soup
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [9]:
image_path = soup.find_all("img")[1]["src"]
featured_img_url = image_url + image_path

In [10]:
print(featured_img_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

In [11]:
table_url= "https://galaxyfacts-mars.com/"

tables = pd.read_html(table_url)

tables = tables[0]
tables

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [12]:
tables.columns = tables.iloc[0] 

tables2 = tables[1:]

tables2

0 Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [13]:
#converting dataframe to html
table_html=tables2.to_html()
table_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [14]:
hemisphere_url="https://marshemispheres.com/"
browser.visit(hemisphere_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [15]:
#Finding the image and title based on div
hemis=soup.find_all("div", class_="description")
print(hemis)

[<div class="description">
<a class="itemLink product-item" href="cerberus.html">
<h3>Cerberus Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p>
</div>, <div class="description">
<a class="itemLink product-item" href="schiaparelli.html">
<h3>Schiaparelli Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p>
</div>, <div class="description">
<a class="itemLink product-item" href="syrtis.html">
<h3>Syrtis Major Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p>
</div>, <div class="description">
<a class="itemLink product-item" href="valles.html">
<h3>Valles Marineris Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p>
</div>]

In [16]:
# Creating a list to hold the images and titles.
hemis_url = []

# Retrieving the image urls and names for each hemisphere.
for hemi in hemis:
    
    #creating an empty dict
    hemispheres={}
    
    # Scraping title
    title = hemi.find('h3').text
    browser.click_link_by_partial_text(title)
    
    #parse html
    html = browser.html
    soup = BeautifulSoup(html, "html.parser")
    
    #scraping images
    image_path = soup.find('img', class_="wide-image")["src"]
    image_url=hemisphere_url + image_path
    
    # Storing findings and appending to list

    hemispheres['Image_url'] = image_url
                   
    hemis_url.append(hemispheres)
    
    
    # Browse back to repeat
    browser.back()

/Users/kalaimano/opt/anaconda3/lib/python3.9/site-packages/splinter/driver/webdriver/__init__.py:517: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  warnings.warn(

In [17]:
#Removing enhanced from the hemsiphere names
hemi1='Cereberus Hemisphere Enhanced'
newhemi1 = hemi1.rsplit(' ', 1)[0]
hemi2='Schiaparelli Hemisphere Enhanced'
newhemi2 = hemi2.rsplit(' ', 1)[0]
hemi3='Syrtis Major Hemisphere Enhanced'
newhemi3 = hemi3.rsplit(' ', 1)[0]
hemi4='Valles Marineris Hemisphere Enhanced'
newhemi4 = hemi4.rsplit(' ', 1)[0]
title={newhemi1, newhemi2, newhemi3, newhemi4}

In [18]:
#appending title to the list
hemis_url.append(title)

In [19]:
#Printing the list with image url and title.
hemis_url

[{'Image_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'Image_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'Image_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'Image_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'},
 {'Cereberus Hemisphere',
  'Schiaparelli Hemisphere',
  'Syrtis Major Hemisphere',
  'Valles Marineris Hemisphere'}]

In [20]:
browser.quit()

In [25]:
mars_scrape={
         "news title": news_title,
         "news para": news_para,
         "featured image": featured_img_url,
         "mars facts": table_html,
         "hemisphere data": hemis_url
     }
mars_scrape

{'news title': "8 Martian Postcards to Celebrate Curiosity's Landing Anniversary",
 'news para': 'The NASA rover touched down eight years ago, on Aug. 5, 2012, and will soon be joined by a second rover, Perseverance.',
 'featured image': 'https://spaceimages-mars.com/image/featured/mars3.jpg',
 'mars facts': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>',
 'hemisphere data': [{'Image_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
  {'Image_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
  {'Image_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
  {'Image_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'},
  {'Cereberus Hemisphere',
   'Schiaparelli Hemisphere',
   'Syrtis Major Hemisphere',
   'Valles Marineris Hemisphere'}]}